Django>=4.2,<4.3
djangorestframework>=3.14,<3.16
django-filter>=23.2,<25.0
celery>=5.3,<5.5
redis>=5.0,<6.0
django-storages[s3]>=1.14,<2.0
boto3>=1.28,<2.0
django_celery_beat>=2.9.0
psycopg[binary]
uvicorn
